<h2><%= User.find(params[:id]).username %>'s Every Post</h2>

<% @posts.each do |post| %>
	<h3>
		<%= link_to post.title, post %>
	</h3>
	<p>
		<%= link_to User.find(post.user_id).username, user_path(User.find(post.user_id)) %><small> • <%= time_ago_in_words(post.created_at) %> ago</small>
		</p>
<% end %>