<h1>Welcome to BlogEase</h1>
<p>This is a simple blogging application I made to show my proficiency with Ruby on Rails. I'm using Devise for user login functionality, Bootstrap for styling, and a polymorphic association on the comment model so that you can comment on comments. Feel free to make an account to try out making a post or commenting.</p>
