<% if user_signed_in? %>
	<%= link_to "New Post", new_post_path, class: "btn btn-primary" %>
<% else %>
	<p class="alert alert-secondary" >Please Sign In to make a post</p>
<% end %>

<h2>BlogEase's Every Post</h2>

<% @posts.each do |post| %>
	<h3>
		<%= link_to post.title, post %>
	</h3>
	<p>
		<%= link_to User.find(post.user_id).username, user_path(User.find(post.user_id)) %><small> • <%= time_ago_in_words(post.created_at) %> ago</small>
		</p>
<% end %>